:root {
    --border-radius: 15px;
    --background-color: antiquewhite;
    --primary-color: #003660;
    --border: solid, black, 2px;

    /*FOR EVENTS*/
    --arr: cyan;
    --meeting: green; 
    --camps: yellow; 
}


body{
    background-color: var(--background-color);
    width: 95vw;
    margin: auto;
}

#main_wrapper, #account_wrapper, #event_wrapper, #scoutgroup_wrapper {
    width: 95vw;
}

header, nav, section, aside, footer {
    border: var(--border);
    margin: 5px;
    padding: 5px;
    border-radius: var(--border-radius);
}

nav {
    grid-area: nav;
    font-size: 1.5rem;
}

header {
    grid-area: hm1;
    border: none;
    align-items: center;    
    height: 25vh;
    justify-content: space-around;
    border: var(--border);
    display: flex;
}

h1, h2 {
    align-content: center;
    justify-self: center;
    text-align: center;
}

h1 {
    border: none;
    height: auto;
    text-wrap: wrap;
    font-size: 3rem;
}

h2 {
    grid-area: hm2;
    font-size: 2rem;
}

/* MAIN */

#main-wrapper {
    display: grid;
    grid-template-areas:
    "hm1 hm1" 
    "nav nav"
    "hm2 hm2"
    "sc1 tnt"
    "sc2 sc2"
    "fot fot"
    ;
}

#sc1 {
    grid-area: sc1;
    display:flex;
    justify-content: space-around;
    width: 45vw;
}

#sctent {
    grid-area: tnt;
    text-align: center;
    border: none;
    padding: none;
    margin: none;
}

#tent {
    width: 45vw;
    border-radius: var(--border-radius);
    border: var(--border);
    margin: none;
}

#sc2 {
    grid-area: sc2;
    height: 50vh;
}

footer {
    grid-area: fot;
}

/* ACCOUNT */
#hed {
    grid-area: hed;
}

#desktopnav {
    grid-area: nav;
}

.userphoto {
    display: none;
}

#menubutton {
    width: 15vw;
}

#acch2 {
    grid-area: hd2;
}

#sec {
    grid-area: sec;
    width: 2fr;
}

#as1 {
    grid-area: as1;
    width: 1fr;
}

#as2 {
    grid-area: as2;
    width: 1fr;
}

#fot {
    grid-area: fot;
}


/*EVENT*/
#sc1event {
    border: var(--border);
}

#sc1event article {
    border: var(--border);
    margin: 5px;
    padding: 5px;
}

#eart1{
    background-color: var(--arr);
}

#eart2{
    background-color: var(--camps);
}

#eart3{
    background-color: var(--meeting);
}


/*SCOUTGROUP*/  
#wrapper-scoutgroup 

#wrapper-scoutgroup h2 {
    width: 80vw;
    font-size: 2rem;
}

#ssec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ssec1 article{
    text-wrap: wrap;
    font-size: 1.5rem;  
    border-bottom-style: dotted;
    padding: 5px;
    align-content: center;
    text-align: center;
}


/* MOBILE */
@media screen and (max-width:500px) {
    .mobilenav {
        width: 65vw;
        height: 90vh;
        padding: 10px;
        position: fixed;
        top: 0;
        right: -90vw;
        transition: right 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        background-color: var(--primary-color);
        color:var(--background-color);
        border-radius: var(--border-radius);
    }

    .mobilenav p {
        text-align: center;
        font-size: 2rem;
    }
    
    ul, li {
        font-size: 1.5rem;
    }

    a:visited {
    color: rgb(178, 177, 210);
    }

    .fade-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
    display: block;
    }
    
    .show {
        right: 0;
    }

    #desktopnav {
        display: none;
    }

    header {
        height: 15vh;
        justify-content: space-between;
        align-content: center;
    }

    #icondesk{
        display: none;
    }
    
    #button, .icon {
        width: 15vw;
    }

    h2 {
        width: 95vw;
    }


    /*MOBILE MAIN*/
    #tent, #cred {
        display: none;
    }

    #welcome {
        background-image: url("../img/scout_tent\ -\ kopia.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 30vh;
    }



    /*MOBILE ACCOUNT*/
    #account_wrapper{
        display: flex;

    }

    #accbutton {
        width: 10vw;
    }
    
    /*POPOUT PROFILBILD*/

    #as1 {
        display: none;
    }

    .fade-layer2 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer2.visible{
        display: block;
    }

    .show2 {
        display: block;
    }

    .userphoto {
        width: 80vw;
        height: auto;
        position: fixed;
        top: 15vh;
        left: 10vw;
        transition: left 0.3s;
        border: var(--border);
        z-index: 10;
    }

    /*SCOUTGROUP*/
    #samorg-desk {
        display: none;
    }
}

/* DESKTOP */
@media screen and (min-width:501px) {
    #button, .mobilenav {
        display: none;
    }

    .icon {
        width: 10vw;
    }

    #icondesk{
        display: grid;
    }

    #accbutton {
        display: none;
    }

    #desktopnav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    ul, li {
        font-size: 1.5rem;
        color:var(--primary-color);
    }

    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    header {
        justify-content: space-around;
        grid-template-columns: 1fr, 1fr, 1fr;
    }

    h1 {
        width: 1fr;
        font-size: 10vw;
    }

    /*DESKTOP ACCOUNT*/
    #account-wrapper {
        display: grid;
        grid-template-areas: 
        "hed hed"
        "nav nav"
        "hd2 hd2"
        "sec as1"
        "sec as2"
        "fot fot";
        height: 100vh;
    }


    /*SCOUTGROUP*/

    #samorg-mobile {
        display: none;
    }
}


