:root {
    --border-radius: 15px;
    --background-color: antiquewhite;
    --primary-color: #003660;
    --border: solid, black, 2px;

    /*FOR EVENTS*/
    --arr: rgb(124, 237, 237);
    --meeting: rgb(159, 228, 159); 
    --camps: rgb(238, 238, 111); 
}


body{
    background-color: var(--background-color);
    margin: 0;
}

#main-wrapper, #account-wrapper, #event-rapper, #scoutgroup-wrapper {
    width: 95vw;
    justify-content:space-around;
    justify-self: center;
    margin: auto;
    display: block;
}

header, nav, section, aside, footer {
    border: var(--border);
    margin: 5px;
    padding: 5px;
    border-radius: var(--border-radius);
}

a:visited {
    color: rgb(133, 133, 194);
}

nav {
    grid-area: nav;
    font-size: 1.5rem;
    width: 80vw;
    justify-self: center;
}

header {
    grid-area: hm1;
    border: none;
    align-items: center;    
    height: 25vh;
    justify-content: space-around;
    justify-self: center;
    border: var(--border);
    display: flex;
    width: 90vw;
}

h1, h2, h3{
    align-content: center;
    justify-self: center;
    text-align: center;
}

h1 {
    border: none;
    height: auto;
    text-wrap: wrap;
    font-size: 3rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: fot;
}

footer img {
    justify-self: center ;
    width: 70%;
}

footer h4 {
    text-align: center;
    width: 50%;
}

/* MAIN */

#main-wrapper {
    display: grid;
}

h2 {
    grid-area: hm2;
    font-size: 2rem;
}   

#sc1-desk {
    grid-area: sc1;
    justify-content: space-around;
    width: 40vw;
    font-size: 3vw;
    align-content: center;
    color: var(--primary-color);
}

#sc1-mobile {
    grid-area: sc1;
    justify-content: center;
    align-content: center;
    width: 90vw;
    text-align: center;
    font-size: 2.5rem;
    height: 15vh;
    border: none;
    color: var(--primary-color);
    margin: 0;
}

#sc1-mobile p {
    margin: 5px;
    padding: 0;
}

#sctent {
    grid-area: tnt;
    text-align: center;
    border: none;
    padding: none;
    margin: none;
    
}

#tent {
    width: 40vw;
    border-radius: var(--border-radius);
    border: var(--border);
    margin: none;
}

#sc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    grid-area: sc2;
    min-height: 30vh;
    font-size: large;
}

#sc2art1 {
    width: 100%;
    height: 10vh;
}

#sc2art2, #sc2art3, #sc2art4, #sc2art5{
    border-radius: var(--border-radius);
    border: var(--border);
    width:40%;
    text-align: center;
    align-content: center;
    margin: 5px;
}

#sc2art2{
    background-color: var(--arr);
}

#sc2art3{
    background-color: var(--arr);
}

#sc2art4 {
    background-color: var(--camps);
}

#sc2art5 {
    background-color: var(--camps);
}

/* ACCOUNT */
#hed {
    grid-area: hed;
}

#desktopnav {
    grid-area: nav;
}

.userphoto {
    display: none;
}

#menubutton {
    width: 15vw;
}

#acch2 {
    grid-area: hd2;
}

#accsec2 {
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

#accsec {
    grid-area: sc1;
}

#accsec2 {
    grid-area: sc2;
}

#accsec3 {
    grid-area: sc3;
}

#accsec, #accsec2{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

#accsec h3, #accsec2 h3, #accsec3 h3 {
    width: 70vw;
    font-size: 2em;
    align-self: top;
}

#accsec article {
    width: 45%;
    word-wrap: wrap;
    border-bottom-style: dotted;
    align-content: center;
    text-align: center;
}

#accsec2 article{
    width: 45%;
    border: dotted;
    padding: 5px;
}

#accsec3 article{
    display: flex;
    justify-content: space-around;
    border: dotted;
    padding: 5px;
}

#accsec3 article h4{
    width: 70%;
    font-size: 1.5rem;
}

#medlemskaplogga {
    width: 20%;
}

#as1 {
    grid-area: as1;
    width: 1fr;
}

#fot {
    grid-area: fot;
    
}



/*EVENT*/
#sc1event {
    border: var(--border);
    
}

#ehed{
    height: 10%;
    padding: 0;
    border: none;
}

#sc1event article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 5px;
    width: 2fr;
    padding: 5px;
}

#key {
    display: flex;  
    justify-content: space-around;
}

#key h4{
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
    text-align: left;
    border-radius: var(--border-radius);
}

#sc1event article h3 {
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#sc1event article ul {
    width: 90%;
    height: 70%;
    padding: 5px;
    list-style-type: none;
    justify-self: center;
    align-self: top;
}

#sc1event article ul li {
    width: 80%;
    font-size: 1rem;
    padding: 5px;
    margin: 0;
    justify-self: center;
    border-bottom: dotted black;
    border-left: dotted black;
    border-right: dotted black;
    text-align: center;
}

.list-top {
    border-top: dotted black;
}

#arr, #eart1, #eart4{
    background-color: var(--arr);
}

#läger, #eart2, #eart3{
    background-color: var(--camps);
}

#möten, #eart5{
    background-color: var(--meeting);
}


/*SCOUTGROUP*/  
#wrapper-scoutgroup 

#wrapper-scoutgroup h2 {
    width: 80vw;
    font-size: 2rem;
}

#ssec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ssec1 article{
    text-wrap: wrap;
    font-size: 1.5rem;  
    border-bottom-style: dotted;
    padding: 5px;
    align-content: center;
    text-align: center;
}

#ssec2 article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: space-around;
    border: dotted 1.5px;
    margin: 5px;
    padding: 5px;
}

#ssec h3 {
    width: 1fr;
}

#ssec2 p {
    width: 2fr;
}

.avdelningslogga{
    height: 15vw;
    justify-self: right;
    align-self: top;
}


/* MOBILE */
@media screen and (max-width:500px) {
    .mobilenav {
    width: 65vw;
    height: 90vh;
    padding: 10px;
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    background-color: var(--primary-color);
    color:var(--background-color);
    border-radius: var(--border-radius); 
    }

    #hed {
        font-size: 2rem;
    }

    .mobilenav p {
        text-align: center;
        font-size: 2.5rem;
    }
    
    ul, li {
        font-size: 2rem;
        margin: 5px;
    }

    a:link {
        color: rgb(178, 177, 210);
    }

    a:visited {
    color: rgb(178, 177, 210);
    }

    a:hover {
        color: rgb(178, 177, 210);
        font-size: 2.1rem;
    }

    .fade-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
        display: block;
    }
    
    .show {
        right: 0;
    }

    #desktopnav {
        display: none;
    }

    #icondesk{
        display: none;
    }
    
    #button, .icon {
        width: 15vw;
    }

    h2 {
        width: 95vw;
    }


    /*MOBILE MAIN*/

    #main-wrapper {
        display: grid;
        grid-template-areas:
        "hm1 hm1" 
        "nav nav"
        "sc1 sc1"
        "hm2 hm2"
        "sc2 sc2"
        "fot fot"
        ;
    }
    #tent, #cred {
        display: none;
    }

    #sc1-desk {
        display: none;
    }

    #welcome {
        background-image: url("../img/scout_tent\ -\ kopia.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 35vh;
        width: 90vw;
        margin: 5px;
        border-radius: var(--border-radius);
        text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
        
        color: var(--primary-color);
    }



    /*MOBILE ACCOUNT*/
    #account_wrapper{
        display: grid;
    }

    #accsechead {
    width: 100%;
    text-align: center;
    }

    #accbutton {
        height: 10vw;
        position: right;

    }
    
    #as1 {
        display: none;
    }

    /*POPOUT PROFILBILD*/

    #deskuserphoto {
        display: none;
    }

    .fade-layer2 {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer2.visible{
        display: block;
    }

    .show2 {
        display: block;
    }

    .userphoto {
        width: 80vw;
        height: auto;
        position: fixed;
        top: 15vh;
        left: 10vw;
        transition: left 0.3s;
        border: var(--border);
        z-index: 10;
    }

    /*SCOUTGROUP*/
    #samorg-desk {
        display: none;
    }
}

/* DESKTOP */
@media screen and (min-width:501px) {
    #button, .mobilenav {
        display: none;
    }

    .icon {
        width: 10vw;
    }

    #icondesk{
        display: grid;
    }

    #event-wrapper h2, #account-wrapper h2, #scoutgroup-wrapper h2{
        font-size: 5rem;
    }

    #accbutton {
        display: none;
    }

    #desktopnav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2rem;
    }

    ul, li {
        font-size: 1.5rem;
        color:var(--primary-color);
    }

    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        width: 1fr;
        font-size: 10vw;
    }

    footer img {
        justify-self: center;
        width: 60%;
    }

    footer h4 {
        width: 50%;
        font-size: 2rem;
        text-align: center;
    }

    /*DESKTOP MAIN*/
    #main-wrapper {
    display: grid;
    grid-template-areas:
    "hm1 hm1" 
    "nav nav"
    "sc1 tnt"
    "hm2 hm2"
    "sc2 sc2"
    "fot fot"
    ;
    }

    #sc1-mobile {
        display: none;
    }

    #sc1 {
        height: 50%;
    }

    #sc2art2, #sc2art3, #sc2art4, #sc2art5{
        width:20%;
    }

    /*DESKTOP ACCOUNT*/
    #account-wrapper {
        display: grid;
        grid-template-areas: 
        "hed hed"
        "nav nav"
        "hd2 hd2"
        "sc1 as1"
        "sc2 sc3"
        "fot fot";
        grid-template-columns: 70% 30%;
        height: 100vh;
        justify-content: space-around;
    }

    #as1 {
        display: flex;
        justify-content: space-around;
        border: none;
        padding: none;
        margin: none;
    }

    #accsec article, #accsec2 article, #accsec3 article{
    font-size: 1.5rem;
    }

    #deskuserphoto {
        border-radius: var(--border-radius);
        border: var(--border);
        width: 100%;
        margin: none;
    }
    

    /* DESKTOP EVENT */
    #sc1event {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
    }

    #event-wrapper h2 {
        font-size: 5rem;
    }
    
    #key h4{
        font-size: 2rem;
        padding: 7px;
    }

    #sc1event article {
        width: 40vw;
    }

     #sc1event article h3{
        font-size: 2rem;
    }

    #sc1event article ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    #sc1event article ul li{
        width: 20vw;
        color: black;
        font-size: 1.5rem;
    }

    /* DESKTOP SCOUTGROUP */

    #samorg-mobile {
        display: none;
    }

    #ssec2 h3 {
        font-size: 2.5rem;
    }

    #ssec2 article p {
        text-align: center;
        font-size: 1.5rem;
    }
}