:root {
    --border-radius: 15px;
    --background-color: antiquewhite;
    --primary-color: #003660;
    --border: solid, black, 2px;

    /*FOR EVENTS*/
    --arr: cyan;
    --meeting: green; 
    --camps: yellow; 
}


body{
    background-color: var(--background-color);
    width: 95vw;
    margin: auto;
}

#main_wrapper, #account_wrapper, #event_wrapper, #scoutgroup_wrapper {
    width: 95vw;
}

header, nav, section, aside, footer {
    border: var(--border);
    margin: 5px;
    padding: 5px;
}

nav {
    font-size: 1.5rem;
}

header {
    border: none;
    text-align: center;
    align-items: center;    
    height: 25vh;
}

h1, h2 {
    align-content: center;
    justify-self: center;
    text-align: center;
}

h1 {
    border: none;
    height: auto;
    text-wrap: wrap;
    font-size: 3rem;
}

/* MAIN */

#sc1 {
    display:flex;
    justify-content: space-around;
}

#tent {
    width: 40vw;
    border-radius: var(--border-radius);
    border: var(--border);
}

#sc2 {
    grid-area: sc2;
}

footer {
    grid-area: fot;
}

/* ACCOUNT */
#hed {
    grid-area: hed;
}

#desktopnav {
    grid-area: nav;
}

.userphoto {
    display: none;
}

#menubutton {
    width: 15vw;
}

#acch2 {
    grid-area: hd2;
    font-size: 3rem;
}

#sec {
    grid-area: sec;
    width: 2fr;
}

#as1 {
    grid-area: as1;
    width: 1fr;
}

#as2 {
    grid-area: as2;
    width: 1fr;
}

#fot {
    grid-area: fot;
}


/*EVENT*/
#sc1event {
    border: var(--border);
}

#sc1event article {
    border: var(--border);
    margin: 5px;
    padding: 5px;
}

#eart1{
    background-color: var(--arr);
}

#eart2{
    background-color: var(--camps);
}

#eart3{
    background-color: var(--meeting);
}


/*SCOUTGROUP*/  
#wrapper-scoutgroup 

#wrapper-scoutgroup h2 {
    width: 80vw;
    font-size: 2rem;
}

#ssec1 {
    display: grid;
    grid-template-areas: 
    "hd hd"
    "a1 a2"
    "a1 a2";
    
}

#ssec1 article{
    width: 50%;
    font-size: 1.5rem;  
}

#sgart1 {
    grid-area: a1;
}

#sgart2 {
    grid-area: a2;
}


/* MOBILE */
@media screen and (max-width:500px) {
    .mobilenav {
        width: 65vw;
        height: 90vh;
        padding: 10px;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        background-color: var(--primary-color);
        color:var(--background-color);
        border-radius: var(--border-radius);
    }

    .mobilenav p {
        text-align: center;
        font-size: 2rem;
    }
    
    ul, li {
        font-size: 1.5rem;
    }

    a:visited {
    color: rgb(178, 177, 210);
    }

    .fade-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    
    .show {
        left: 0;
    }

    .show2 {
        display: block;
    }

    #desktopnav {
        display: none;
    }

    .fade-layer.visible{
    display: block;
    }

    header {
        height: 20vh;
        justify-content: space-between;
        display: flex;
        align-content: center;
    }
    
    #button, .icon {
        width: 15vw;
        justify-self: left; 
    }

    h2 {
        width: 95vw;
    }


    /*MOBILE MAIN*/
    #tent {
        width: 50vw;
        height: auto;
    }

    /*MOBILE ACCOUNT*/
    #account_wrapper{
        display: flex;

    }
    /*POPOUT BILD?*/

    #as1 {
        display: none;
    }

}

/* DESKTOP */
@media screen and (min-width:501px) {
    #button, .mobilenav {
        display: none;
    }

    .icon {
        width: 10vw;
    }

    #desktopnav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    ul, li {
        font-size: 1.5rem;
        color:var(--primary-color);
    }

    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    header {
        display: flex;
        justify-content: space-around;
        grid-template-columns: 1fr, 1fr, 1fr;
    }

    h1 {
        width: 1fr;
        font-size: 10vw;
    }

    /*DESKTOP ACCOUNT*/
    #account-wrapper {
        display: grid;
        grid-template-areas: 
        "hed hed"
        "nav nav"
        "hd2 hd2"
        "sec as1"
        "sec as2"
        "fot fot";
    }
}


